fastapi
uvicorn
gunicorn
boto3
requests-oauthlib
cryptography
python-dotenv
pymongo
pydantic
email-validator
pyjwt
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
tzdata
motor
pytest
black
isort
flake8
mypy
python-jose
requests
pandas
numpy
python-multipart
jq
typer
httpx


